/* line 1, ../_/sass/partials/_typing_box.scss */
.typing-box {
  font-weight: 400;
}

/* line 7, ../_/sass/partials/_typing_box.scss */
.box-cursor {
  font-weight: 400;
  margin-left: .1em;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

/* line 10, ../_/sass/partials/_timeline.scss */
.timeline-container {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 2em;
  padding: 0;
}
/* line 17, ../_/sass/partials/_timeline.scss */
.timeline-container ul {
  margin: auto;
  padding: 0;
}
@media screen and (min-width: 768px) {
  /* line 17, ../_/sass/partials/_timeline.scss */
  .timeline-container ul {
    width: 768px;
  }
}
/* line 28, ../_/sass/partials/_timeline.scss */
.timeline-container ul li.timeline-node {
  z-index: 2;
  position: relative;
  list-style-type: none;
  width: 300px;
  height: auto;
  margin: auto;
  margin-bottom: .1em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 28, ../_/sass/partials/_timeline.scss */
  .timeline-container ul li.timeline-node {
    width: 280px;
    height: 200px;
    float: left;
    clear: both;
  }
}
/* line 43, ../_/sass/partials/_timeline.scss */
.timeline-container ul li.timeline-node .timeline-title {
  padding: 0;
  margin: 5px;
  margin-top: 15px;
  color: #a2ded0;
}
/* line 49, ../_/sass/partials/_timeline.scss */
.timeline-container ul li.timeline-node .timeline-content {
  padding: 0;
  margin: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  font-style: italic;
}
/* line 59, ../_/sass/partials/_timeline.scss */
.timeline-container ul li.timeline-node .timeline-line {
  z-index: -1;
  width: 4px;
  height: 150px;
  margin: auto;
  background: #332f3e;
}
@media screen and (min-width: 768px) {
  /* line 59, ../_/sass/partials/_timeline.scss */
  .timeline-container ul li.timeline-node .timeline-line {
    -webkit-transform: rotate(-66deg);
    -moz-transform: rotate(-66deg);
    -ms-transform: rotate(-66deg);
    -o-transform: rotate(-66deg);
    transform: rotate(-66deg);
    top: -126px;
    right: -104px;
    height: 540px;
    position: absolute;
  }
}
@media screen and (min-width: 768px) {
  /* line 76, ../_/sass/partials/_timeline.scss */
  .timeline-container ul li.timeline-node:nth-child(2n) {
    z-index: 2;
    float: right;
  }
  /* line 79, ../_/sass/partials/_timeline.scss */
  .timeline-container ul li.timeline-node:nth-child(2n) .timeline-line {
    z-index: -1;
    -webkit-transform: rotate(66deg);
    -moz-transform: rotate(66deg);
    -ms-transform: rotate(66deg);
    -o-transform: rotate(66deg);
    transform: rotate(66deg);
    right: auto;
    left: -104px;
  }
}
/* line 92, ../_/sass/partials/_timeline.scss */
.timeline-container .timeline-progress {
  opacity: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
/* line 101, ../_/sass/partials/_timeline.scss */
.timeline-container .timeline-active {
  opacity: 1 !important;
  height: 100% !important;
}
/* line 106, ../_/sass/partials/_timeline.scss */
.timeline-container .timeline-circle {
  font-family: "FontAwesome";
  text-align: center;
  font-size: 36px;
  line-height: 80px;
  color: #a2ded0;
  z-index: 20;
  display: inline-block;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
  /* line 106, ../_/sass/partials/_timeline.scss */
  .timeline-container .timeline-circle {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* line 125, ../_/sass/partials/_timeline.scss */
.timeline-container .timeline-circle:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* line 8, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery {
  width: 100%;
  margin-top: 36px;
  padding-bottom: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 15, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container {
  padding: 10px;
  overflow: visible;
  width: 100%;
  margin: auto;
  margin-bottom: 24px;
  overflow: hidden;
  *zoom: 1;
}
/* line 22, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  overflow: visible;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  display: block;
  padding: 10px;
  position: relative;
  float: left;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 23, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a .tag-circle {
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
  top: 4px;
  width: 22px;
  height: 22px;
  background: #c8ebe3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 32, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a .tag-circle:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #332f3e;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -ms-transform: scale(0.65);
  -o-transform: scale(0.65);
  transform: scale(0.65);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 60, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a.tab-selected {
  color: #332f3e;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 63, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a.tab-selected .tag-circle {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 67, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a.tab-selected .tag-circle:before {
  opacity: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 72, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a.tab-selected:hover {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 79, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a:hover:not(.tab-selected) {
  color: rgba(51, 47, 62, 0.7);
}
/* line 83, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .tab-container a:hover:not(.tab-selected) .tag-circle:before {
  opacity: .7;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 93, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .gallery-container {
  width: 100%;
  position: relative;
}
/* line 97, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .gallery-container .item-container {
  position: relative;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 500px) {
  /* line 97, ../_/sass/partials/_animation_gallery.scss */
  .animate-gallery .gallery-container .item-container {
    width: 90% !important;
  }
}
/* line 105, ../_/sass/partials/_animation_gallery.scss */
.animate-gallery .gallery-container .item-container .gallery-item {
  width: 340px;
  height: 200px;
  background: #333;
  background-size: cover !important;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}
@media screen and (max-width: 500px) {
  /* line 105, ../_/sass/partials/_animation_gallery.scss */
  .animate-gallery .gallery-container .item-container .gallery-item {
    width: 100%;
  }
}

/* line 38, ../_/sass/style.scss */
h1 {
  font-size: 64px;
}

/* line 41, ../_/sass/style.scss */
h2 {
  font-size: 48px;
}

/* line 44, ../_/sass/style.scss */
h3 {
  font-size: 36px;
}

/* line 47, ../_/sass/style.scss */
h4 {
  font-size: 24px;
}

/* line 50, ../_/sass/style.scss */
p {
  font-size: 18px;
}

/* line 53, ../_/sass/style.scss */
* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 59, ../_/sass/style.scss */
[class*='fa-']:after, [class*='fa-']:before {
  font-family: "FontAwesome";
}

/* line 65, ../_/sass/style.scss */
.my-icon, #welcome .container .welcome-nav .menu, #skill .expand-icon {
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 24px;
  color: #a2ded0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: white;
  text-align: center;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: .5;
}
/* line 78, ../_/sass/style.scss */
.my-icon:hover, #welcome .container .welcome-nav .menu:hover, #skill .expand-icon:hover {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 1;
  cursor: pointer;
}

/* line 85, ../_/sass/style.scss */
.radius-icon:before, .side-info .close-icon:before {
  color: white;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 37px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 100, ../_/sass/style.scss */
.go-down-arrow {
  text-align: center;
  font-size: 36px;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}
/* line 109, ../_/sass/style.scss */
.go-down-arrow > span:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background: white;
  display: inline-block;
  color: #a2ded0;
  opacity: .5;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 123, ../_/sass/style.scss */
.go-down-arrow:hover {
  cursor: pointer;
}
/* line 128, ../_/sass/style.scss */
.go-down-arrow:hover > span:before {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 136, ../_/sass/style.scss */
.side-panel, .side-info {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 999;
  overflow: scroll;
}

/* line 147, ../_/sass/style.scss */
.side-info {
  width: 460px;
  right: -460px;
  padding: 10px 20px;
  background: #a2ded0;
}
@media screen and (max-width: 768px) {
  /* line 147, ../_/sass/style.scss */
  .side-info {
    width: 320px;
    right: -320px;
  }
}
/* line 159, ../_/sass/style.scss */
.side-info .close-icon {
  cursor: pointer;
}
/* line 165, ../_/sass/style.scss */
.side-info .close-icon:hover {
  cursor: pointer;
}
/* line 167, ../_/sass/style.scss */
.side-info .close-icon:hover:before {
  color: #a2ded0;
  background: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 178, ../_/sass/style.scss */
.title {
  color: #a2ded0;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}
/* line 186, ../_/sass/style.scss */
.title > span {
  display: inline-block;
  padding: 2px 18px;
  background: red;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
}

/* line 195, ../_/sass/style.scss */
.section, #skill {
  padding: 18px 0 86px 0;
}

/* line 204, ../_/sass/style.scss */
#welcome {
  width: 100%;
  height: 100%;
  min-height: 480px;
  max-height: 1000px;
  background: url("../img/background/wandering.jpg") 50% 0 no-repeat;
  background-size: cover;
}
/* line 213, ../_/sass/style.scss */
#welcome .container {
  position: relative;
  height: 100%;
}
/* line 216, ../_/sass/style.scss */
#welcome .container .welcome-nav {
  margin-top: 10px;
}
/* line 219, ../_/sass/style.scss */
#welcome .container .welcome-nav .logo {
  font-size: 36px;
  color: #999;
  opacity: .4;
}
/* line 224, ../_/sass/style.scss */
#welcome .container .welcome-nav .menu {
  float: right;
}
/* line 233, ../_/sass/style.scss */
#welcome .container .header {
  position: absolute;
  width: 100%;
  top: 30%;
}
/* line 238, ../_/sass/style.scss */
#welcome .container .header h2 {
  float: left;
  clear: both;
  background: rgba(51, 47, 62, 0.7);
  padding: 8px 24px;
  font-size: 42px;
  color: white;
  font-weight: 100;
  margin: 0;
  margin-top: 5px;
}
/* line 254, ../_/sass/style.scss */
#welcome .container .header h4 {
  float: left;
  clear: both;
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-weight: 200;
}
/* line 261, ../_/sass/style.scss */
#welcome .container .header h4 .emphasis {
  color: white;
}

/* line 277, ../_/sass/style.scss */
.mask, #skill .left-mask, #skill .right-mask {
  position: absolute;
  height: 100%;
  width: 50%;
  padding: 24px;
  padding-top: 80px;
}

/* line 285, ../_/sass/style.scss */
#skill {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #3cab91;
}
/* line 294, ../_/sass/style.scss */
#skill .title > span {
  color: #c3bb1f;
  background: #f0eda4;
}
/* line 301, ../_/sass/style.scss */
#skill .left-mask {
  background: #332f3e;
  color: #4b455b;
  text-align: right;
  font-size: 64px;
  top: 0;
  left: 0;
  padding-right: 36px;
}
/* line 312, ../_/sass/style.scss */
#skill .right-mask {
  background: #332f3e;
  color: #4b455b;
  text-align: left;
  font-size: 64px;
  top: 0;
  right: 0;
  padding-left: 36px;
}
/* line 323, ../_/sass/style.scss */
#skill .expand-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: #332f3e;
  background: #fbfae6;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 336, ../_/sass/style.scss */
#skill .expand-icon:hover {
  width: 54px;
  height: 54px;
  line-height: 54px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 347, ../_/sass/style.scss */
#skill .skill-wrap {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 351, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel {
  overflow: hidden;
  position: relative;
  height: 400px;
  background: #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 25%;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  /* line 351, ../_/sass/style.scss */
  #skill .skill-wrap .skill-panel {
    width: 50%;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 599px) {
  /* line 351, ../_/sass/style.scss */
  #skill .skill-wrap .skill-panel {
    width: 100%;
    margin-bottom: 24px;
  }
}
/* line 373, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .panel-wrap {
  padding: 48px 24px 36px 24px;
  text-align: center;
}
/* line 377, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .panel-wrap .skill-icon:before {
  color: white;
  font-size: 36px;
  line-height: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #ff4539;
}
/* line 388, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .panel-wrap .skill-title {
  margin-top: 36px;
}
/* line 391, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .panel-wrap .skill-brief {
  font-size: 18px;
  font-style: italic;
}
/* line 402, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel {
  position: absolute;
  width: 100%;
  height: 110%;
  background: #ff4539;
  top: 90%;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
  overflow: hidden;
}
/* line 410, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 24px 20px;
  padding-top: 64px;
}
/* line 416, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .down-icon {
  position: absolute;
  bottom: 5px;
  left: 0px;
  display: block;
  width: 100%;
  opacity: .7;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 424, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .down-icon:before {
  display: block;
  text-align: center;
  font-size: 24px;
  color: white;
}
/* line 430, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .down-icon:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 436, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .up-icon {
  position: absolute;
  top: 4px;
  left: 0px;
  display: block;
  width: 100%;
  opacity: .7;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 444, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .up-icon:before {
  display: block;
  text-align: center;
  font-size: 24px;
  color: white;
}
/* line 450, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .up-icon:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 457, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .skill-title {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-align: center;
}
/* line 464, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .skill-detail {
  margin-top: 18px;
}
/* line 466, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .skill-detail .skill-item {
  margin: 10px 0;
}
/* line 468, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .skill-detail .skill-item .item-title {
  font-size: 16px;
  color: white;
  opacity: .7;
  font-style: italic;
  padding-left: 5px;
}
/* line 475, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .skill-detail .skill-item .progress-wrap {
  position: relative;
  width: 100%;
  height: 28px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 482, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .hidding-panel .hidding-panel-wrap .skill-detail .skill-item .progress-wrap .skill-progress {
  height: 100%;
  width: 0%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 497, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel .show-it {
  top: -10%;
}
/* line 502, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(1) .hidding-panel, #skill .skill-wrap .skill-panel:nth-child(1) .skill-icon:before {
  background: #ea9e6a;
}
/* line 505, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(1) .progress-wrap {
  background: #e78f54;
}
/* line 507, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(1) .progress-wrap .skill-progress {
  background: #edad80;
}
/* line 514, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(2) .hidding-panel, #skill .skill-wrap .skill-panel:nth-child(2) .skill-icon:before {
  background: #e17e79;
}
/* line 517, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(2) .progress-wrap {
  background: #dc6a64;
}
/* line 519, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(2) .progress-wrap .skill-progress {
  background: #e6928e;
}
/* line 526, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(3) .hidding-panel, #skill .skill-wrap .skill-panel:nth-child(3) .skill-icon:before {
  background: #69cce9;
}
/* line 529, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(3) .progress-wrap {
  background: #53c4e6;
}
/* line 531, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(3) .progress-wrap .skill-progress {
  background: #7fd4ec;
}
/* line 537, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(4) .hidding-panel, #skill .skill-wrap .skill-panel:nth-child(4) .skill-icon:before {
  background: #fee57e;
}
/* line 540, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(4) .progress-wrap {
  background: #fee065;
}
/* line 542, ../_/sass/style.scss */
#skill .skill-wrap .skill-panel:nth-child(4) .progress-wrap .skill-progress {
  background: #feea97;
}

/* line 566, ../_/sass/style.scss */
#other {
  width: 100%;
  height: 300px;
  background: url("../img/background/wandering.jpg") 50% 0 no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  /* line 566, ../_/sass/style.scss */
  #other {
    background-size: 300%;
  }
}

/* line 579, ../_/sass/style.scss */
#experience {
  width: 100%;
  min-height: 1600px;
  background: #2c2835;
}
/* line 582, ../_/sass/style.scss */
#experience .title > span {
  background: #4b455b;
  color: #b1acc0;
}

/* line 593, ../_/sass/style.scss */
#work {
  min-height: 800px;
  overflow: hidden;
  background: #a2ded0;
}
/* line 595, ../_/sass/style.scss */
#work .title > span {
  background: #c8ebe3;
  color: #3cab91;
}
