@import "compass";
//@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

$deep-blue: #2E4D64;
$sky-blue: #67B8DB;
$light-sky-blue: #88C7E3;
$orange: #D9703C;
$flat-brown: #5A4042;
$flat-dark-green: #366964;
$cloud-color: #F5F4EE;
$flat-red: #FF4539;
$light-yellow: #FBFAE6;
$cyan: #A2DED0;
$purple: #332F3E;

$flat-orange: #ea9e6a;
$flat-pink : #e17e79;
$flat-blue: #69cce9;
$flat-yellow: #fee57e;
$flat-gray: #eee;


//color
//$primary-color: #264e6a; //blue 
//$secondary-color: #e6661c; //orange
//$dark-primary-color: darken($primary-color,8); //blue 

$primary-color: $purple;
$secondary-color: $cyan;
$third-color: $light-yellow;
$dark-primary-color: darken($primary-color,3);

@import "partials/typing_box";
@import "partials/timeline";
@import "partials/_animation_gallery";


h1 {
	font-size:64px;
}
h2 {
	font-size:48px;
}
h3 {
	font-size:36px;
}
h4 {
	font-size:24px;
}
p {
	font-size:18px;
}
* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	@include box-sizing(border-box);
}

[class*='fa-'] {
	&:after,&:before {
		font-family:"FontAwesome"
	}
}

//--------------icon-----------------
.my-icon {
	display:inline-block;
	font-family:"FontAwesome";
	font-size:24px;
	color:$secondary-color;
	width:40px;
	height:40px;
	line-height:40px;
	@include border-radius(50%);
	background:white;
	text-align:center;
	@include transition(opacity .5s ease);
	opacity:.5;
	&:hover {
		@include transition(opacity .5s ease);
		opacity:1;
		cursor:pointer;		
	}
}

.radius-icon:before {
	color:white;
	font-size:24px;
	display:inline-block;
	text-align:center;
	width:40px;
	height:40px;
	line-height:37px;
	@include border-radius(50%);
	border:2px solid white;
	@include transition(all .5s ease);

}


.go-down-arrow {
	//background:red;
	text-align:center;
	font-size:36px;
	position:absolute;
	width:100%;
	bottom:20px;
	//padding:20px;
	left:0;
	>span:before {
		@include border-radius(50%);
		width:48px;
		height:48px;
		line-height:48px;
		background:white;
		display:inline-block;
		color:$secondary-color;
		//border:2px black solid;

		opacity:.5;
		@include transition(opacity .5s ease);

	}
	&:hover {
		cursor:pointer;
	}


	&:hover>span:before {
		opacity:1;
		cursor:pointer;
		@include transition(opacity .5s ease);
	}
}

//--------------side panel-----------------
.side-panel {
	position:fixed;
	top:0;
	right:0;

	height:100%;

	z-index:999;
	overflow:scroll;
}

.side-info {
	@extend .side-panel;
	//opacity:.7;
	width:460px;
	right:-460px;
	@media screen and (max-width:768px) {
		width:320px;
		right:-320px;
	}	
	padding:10px 20px;
	background:rgba($secondary-color,1);

	.close-icon {
		cursor:pointer;
		&:before {
			@extend .radius-icon;
		}

		&:hover {
			cursor:pointer;
			&:before {
				color:$secondary-color;
				background:white;
				@include transition(all .5s ease);
			}		
		}
	}
}


//---------including style---------------------
.title {
	color:$secondary-color;
	text-align:center;
	margin-top:80px;
	margin-bottom:24px;
	font-size:20px;
	font-weight:400;
	color:white;
	>span {
		display:inline-block;
		padding:2px 18px;
		background:red;
		@include border-radius(24px);

	}
}

.section {
	padding:18px 0 86px 0;
}





//---------------welcome-----------------
#welcome {
	width:100%;
	height:100%;
	min-height:480px;
	max-height:1000px;
	background: url("../img/background/wandering.jpg") 50% 0 no-repeat;
	background-size:cover;
	//background-attachment:fixed;

	.container {
		position:relative;
		height:100%;
		.welcome-nav {
			margin-top:10px;

			.logo {
				font-size:36px;
				color:#999;
				opacity:.4;
			}
			.menu {
				float:right;
				@extend .my-icon;
			}
		}




		.header {
			//margin-top:8em;
			position:absolute;
			width:100%;
			top:30%;
			h2 {
				//max-width:320px;
				float:left;
				clear:both;
				//display:inline-block;
				background:rgba($primary-color,0.7);
				padding:8px 24px;
				font-size:42px;
				color:white;
				font-weight:100;
				margin:0;
				margin-top:5px;
				&:last-child {

				}
			}
			h4 {
				float:left;
				clear:both;
				color: rgba(white,.5);
				font-style:italic;
				font-weight:200;
				//padding-left:24px;
				.emphasis {
					color:white;
				}
			}

		}	
	}


}




//---------------skill-----------------

.mask {
	position:absolute;
	height:100%;
	width:50%;
	padding:24px;
	padding-top:80px;
}

#skill {
	@extend .section;
	width:100%;
	//height:800px;
	position:relative;
	//background:$third-color;
	overflow:hidden;
	color:darken($secondary-color,30);
	.title {
		>span {
			color: darken($third-color,50);
			background:darken($third-color,15);		
		}

	}

	.left-mask {
		@extend .mask;
		background:$purple;
		//color:lighten(#80C8B5,10);
		color: lighten($purple,10);
		text-align:right;
		font-size:64px;
		top:0;
		left:0;
		padding-right:36px;
	}
	.right-mask {
		@extend .mask;
		background:$purple;
		//color:darken(#332F3E,10);
		color: lighten($purple,10);
		text-align:left;
		font-size:64px;
		top:0;
		right:0;
		padding-left:36px;
	}
	.expand-icon {
		@extend .my-icon;
		position:absolute;
		width:48px;
		height:48px;
		line-height:48px;
		color:$purple;
		background:$third-color;
		top:50%;
		left:50%;
		opacity:1;
		@include transition(all .25s ease);
		@include transform(translate(-50%,-50%));
		&:hover {
			
			width:54px;
			height:54px;
			line-height:54px;
			@include transition(all .25s ease);
		}
	}



	.skill-wrap {
		width:100%;
		@include clearfix;

		.skill-panel {
			overflow:hidden;
			position:relative;
			height:400px;
			background:$flat-gray;
			@include box-sizing(border-box);
			float:left;
			width:25%;
			@media screen and (min-width:600px) and (max-width:1000px) {
				width:50%;
				margin-bottom:24px;
			}
			@media screen and (max-width:599px){
				width:100%;
				margin-bottom:24px;
			}


			border-left:2px solid white;
			border-right:2px solid white;
			

			.panel-wrap {
				padding:48px 24px 36px 24px;
				text-align:center;

				.skill-icon:before {
					color:white;

					font-size:36px;
					line-height:100px;
					display:inline-block;
					width:100px;
					height:100px;
					@include border-radius(50%);
					background:$flat-red;
				}	
				.skill-title {
					margin-top:36px;
				}
				.skill-brief {
					font-size:18px;
					font-style:italic;
				}


			}




			.hidding-panel {
				position:absolute;
				width:100%;
				height:110%;
				background:$flat-red;
				top:90%;
				@include transition(top .5s ease);
				overflow:hidden;
				.hidding-panel-wrap {
					width:100%;
					height:100%;
					position:relative;
					padding:24px 20px;
					padding-top:64px;
					.down-icon {
						position:absolute;
						bottom:5px;
						left:0px;
						display:block;
						width:100%;
						opacity:.7;
						@include transition(opacity .5s ease);
						&:before {
							display:block;
							text-align:center;
							font-size:24px;
							color:white;
						}
						&:hover {
							cursor:pointer;
							opacity:1;
							@include transition(opacity .5s ease);
						}
					}
					.up-icon {
						position:absolute;
						top:4px;
						left:0px;
						display:block;
						width:100%;
						opacity:.7;
						@include transition(opacity .5s ease);
						&:before {
							display:block;
							text-align:center;
							font-size:24px;
							color:white;
						}	
						&:hover {
							cursor:pointer;
							opacity:1;
							@include transition(opacity .5s ease);
						}

					}
					.skill-title {
						font-size:18px;
						color:white;
						font-weight:500;
						text-align:center;

					}
					.skill-detail {
						margin-top:18px;
						.skill-item {
							margin:10px 0;
							.item-title {
								font-size:16px;
								color:white;
								opacity:.7;
								font-style:italic;
								padding-left:5px;
							}
							.progress-wrap {
								position:relative;
								width:100%;
								height:28px;
								//background:darken($flat-orange,5);
								@include border-radius(5px);
								padding:5px;
								.skill-progress {
									height:100%;
									width:0%;
									//background:lighten($flat-orange,5);
									@include border-radius(3px);
								}
							}
						}
					}


				}


			}
			.show-it {
				top:-10%;
			}

			&:nth-child(1){
				.hidding-panel,.skill-icon:before {
					background:$flat-orange;
				}
				.progress-wrap {
					background:darken($flat-orange,5);
					.skill-progress {
						background:lighten($flat-orange,5);
					}
				}
				
			}
			&:nth-child(2){
				.hidding-panel,.skill-icon:before {
					background:$flat-pink;
				}
				.progress-wrap {
					background:darken($flat-pink,5);
					.skill-progress {
						background:lighten($flat-pink,5);
					}
				}
				
			}
			&:nth-child(3){
				.hidding-panel,.skill-icon:before {
					background:$flat-blue;
				}
				.progress-wrap {
					background:darken($flat-blue,5);
					.skill-progress {
						background:lighten($flat-blue,5);
					}
				}
			}
			&:nth-child(4){
				.hidding-panel,.skill-icon:before {
					background:$flat-yellow;
				}
				.progress-wrap {
					background:darken($flat-yellow,5);
					.skill-progress {
						background:lighten($flat-yellow,5);
					}
				}
			}
			//&:hover .hidding-panel {
			//	top:-10%;
			//	@include transition(top .5s ease);
			//}
			//.lock-panel {
			//	top:0 !important;
			//}


		}
	}



}




#other {
	width:100%;
	height:300px;
	background: url("../img/background/wandering.jpg") 50% 0 no-repeat;
	background-size:cover;
	@media screen and (max-width:768px) {
		//height:500px;
		background-size:300%;
	}
	
	
}

#experience {

	.title {
		>span {
			background:lighten($primary-color,10);
			color:lighten($primary-color,50);
		}
	}
	width:100%;
	min-height:1600px;
	background:$dark-primary-color;
}


#work {
	.title {
		>span {
			background:lighten($secondary-color,10);
			color:darken($secondary-color,30);
		}
	}
	//width:100%;
	min-height:800px;
	overflow:hidden;
	background:$secondary-color;	
}














